*{
    padding:0;
    margin:0;
    
}

.container{
    position:relative;
    width:50vh;
    padding:10px;
    margin:auto;
    margin-top:20%;
    box-shadow: 2.5px 2.5px rgba(132, 123, 123, 0.548);
    border:solid rgb(226, 224, 224);
}

.menu{
    width:45px;
    height:158px;
    background-color: rgb(67, 128, 172);
    position:absolute;
    top:0;
    left:0;
}

.isi .list{
    margin-left:50px;
}

.judul{
    margin-left:280px;
}

.judul h3{
    font-size: 1vw;
}